*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;

   
}
body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}
form{
 width: 50%;
 margin-top: 100px;
 border-radius: 10px;
 margin-bottom: 30px;
 background-color:#692794;
 color: white;
 padding: 10px;
}
ul{
 width: 720px;
background-color: #25283d;
color: white;

}
li{
 list-style: none;
 display: flex;
 justify-content: space-between;
 margin-bottom: 20px;

}
li input{
 margin-left: 20px;
}
.form-control{
 width: 50% !important;
}
